// Dashboard-card
// --------------------------------------------------

.card-container {
    display  : flex;
    flex-wrap: wrap;

    @include media-breakpoint-up(md) {
        margin-right: -15px;
    }
}

.card-base {
    min-height   : 156px;
    flex         : 1;
    color        : $white;
    display      : flex;
    align-items  : center;
    padding      : rem(20px);
    border-radius: 10px;
    margin-bottom: 15px;

    @include media-breakpoint-up(md) {
        margin-right: 15px;
    }

    @media only screen and (min-width: 370px) {
        min-width: 339px;
    }

    &.gradient-1 {
        background-image: linear-gradient(96deg, #77bae9, #59e6af);
    }

    &.gradient-2 {
        background-image: linear-gradient(96deg, #ff9a9e, #fad0c4 99%);
    }

    &.gradient-3 {
        background-image: linear-gradient(96deg, #4facfe, #00f2fe 99%);
    }

    &.gradient-4 {
        background-image: linear-gradient(96deg, #c471f5, #fa71cd 99%);
    }

    &__circle {
        width           : 75px;
        height          : 75px;
        display         : flex;
        border-radius   : 50%;
        margin-right    : 30px;
        align-items     : center;
        justify-content : center;
        background-color: rgba($white, 0.3);
        box-shadow      : 0 0 210px 0 rgba(0, 0, 0, 0.12);
    }

    &__info {
        flex: 1;
    }

    &__count {
        font-size     : 48px;
        font-weight   : 200;
        letter-spacing: 4.8px;
    }

    p {
        font-size  : rem(16px);
        font-weight: 500;
        line-height: 1.38;
    }
}