// dashboard
// --------------------------------------------------

body {
    padding-top: 80px; // for header
}
.content {
    flex: 1;
    transition : all 0.4s ease;
    @include media-breakpoint-up(lg) {
        padding: 100px;
    }
    @include media-breakpoint-down(md) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    &.visiable-header-icon {
        padding-top: 82px;
    }
}
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}