// dashboard
// --------------------------------------------------
.content {
    flex      : 1;
    transition: all 0.4s ease;

    @include media-breakpoint-up(lg) {
        padding: 100px;
    }
    &.scheduler-container {
        @include media-breakpoint-up(lg) {
            padding: 15px;
        }
        .page_title {
            margin-top: 0px !important;
        }
    }

    @include media-breakpoint-down(md) {
        padding-top   : 15px;
        padding-bottom: 15px;
    }

    &.visiable-header-icon {
        padding-top: 82px;
    }
    .page_title {
        color: #495b76;
        font-weight: 600;
        line-height: 1.33;
        letter-spacing: 1.2px;
        font-size: rem(24px);
        margin-bottom: 30px;
        overflow: hidden;
        @include media-breakpoint-up(lg) {
            margin-top: -50px;
        }
        &__back {
            .feather-arrow-left {
                width:30px;
                height: 30px;
                color: #495b76;
            }
        }
        .add-new {
            float: right;
        }
    }
}

.box-padding {
    padding: 38px;
}


.feather {
    width         : 16px;
    height        : 16px;
    vertical-align: text-bottom;
}