// pdf
// --------------------------------------------------

.pdf-wrapper {
    padding: 15px;
    color: #000;
    overflow: auto;
    max-width: 100%;
    background-color: #fff;
    display: block !important;


    table {
        border-spacing: 0;
        border-collapse: inherit;
    }

    a img {
        border: none;
    }


    .pdf-container {
        min-width  : 620px;
        margin     : 0 auto;
        font-size  : 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .clearfix:after {
        content: "";
        display: table;
        clear  : both;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .no-break {
        page-break-inside: avoid;
    }

    p {
        margin-bottom: 5px;
    }

    .w-50 {
        width: 50%;
    }

    .pl {
        padding-left: 15px;
    }

    .pr {
        padding-right: 15px;
    }

    .pb {
        padding-bottom: 15px;
    }

    .pt {
        padding-top: 15px;
    }

    .br {
        border-right: 1px solid #ccc;
    }

    .vtop {
        vertical-align: top;
    }


    /*----------- header ---------*/

    header {
        margin-bottom: 30px;
    }

    .pdf-logo {
        margin-bottom: 10px;
    }

    header .title {
        font-size    : 22px;
        font-weight  : bold;
        margin-bottom: 5px;
    }

    h3 {
        font-size    : 20px;
        margin-bottom: 5px;
    }

    caption,.table-title {
        font-size     : 20px;
        padding-bottom: 5px;
        font-weight   : bold;
        text-align    : left;
        padding-top: 0;
        padding-bottom: 0;
        color: #000;
        caption-side: initial;
    }
    caption small {
        font-size: 18px;
    }

    /*----------- grey box ---------*/

    .grey-box {
        padding         : 25px;
        border-radius   : 15px;
        margin-top      : 40px;
        margin-bottom   : 40px;
        font-size       : 18px;
        line-height     : 26px;
        background-color: #f3f3f3;
    }
    .table-title + .grey-box {
        margin-top: 0;
    }

    .grey-box ul {
        padding: 10px 0 20px 10px;
    }

    section {
        margin-bottom    : 30px;
        page-break-inside: avoid;
    }

    .uncheck {
        background-image : url('data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/4QMvaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLwA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/PiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA1LjYtYzEzOCA3OS4xNTk4MjQsIDIwMTYvMDkvMTQtMDE6MDk6MDEgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE3IChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpGMjMyNjI3RjkxRjQxMUU5OUYzOEFDNUNERTBGM0JFRiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpGMjMyNjI4MDkxRjQxMUU5OUYzOEFDNUNERTBGM0JFRiI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkYyMzI2MjdEOTFGNDExRTk5RjM4QUM1Q0RFMEYzQkVGIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkYyMzI2MjdFOTFGNDExRTk5RjM4QUM1Q0RFMEYzQkVGIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+/+4ADkFkb2JlAGTAAAAAAf/bAIQABgQEBAUEBgUFBgkGBQYJCwgGBggLDAoKCwoKDBAMDAwMDAwQDA4PEA8ODBMTFBQTExwbGxscHx8fHx8fHx8fHwEHBwcNDA0YEBAYGhURFRofHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8f/8AAEQgAFwAYAwERAAIRAQMRAf/EAGQAAQEBAAAAAAAAAAAAAAAAAAUGBwEBAAAAAAAAAAAAAAAAAAAAABAAAQQBAwEFCQEAAAAAAAAAAgEDBAURABIGIVG1NlYHMdGT0xR0lHUWFxEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A2ThfBeHW9IdjaU8WbPfn2SvSn20Nw9tg+A7iLquBFE0Dv+X+nfl2B8APdoA+YcH4hTVsKxqqiLBns3FKLUlhtG3BR22itmiEPXBAZCvai6Bz018KB99Z95SNBUaCX9R/Dsb9zRd8xNAJw7kzlXSnBKlsphNTrFfqIbLb7Bb575pscFzC43YXsXKaBv8Aui8uXf4g/M0AvLeSuWtdCgjTWMNTt6c1kzWm47Ao1axnV3OE5jJIGBT2kWBTqqaD/9k=');
        background-repeat: no-repeat;
        display          : inline-block;
        padding-left     : 30px;
        line-height      : 23px;
        padding-right    : 15px;
    }

    .check {
        background-image : url('data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/4QMvaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLwA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/PiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA1LjYtYzEzOCA3OS4xNTk4MjQsIDIwMTYvMDkvMTQtMDE6MDk6MDEgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjNBOTUzMjAwOTJBQzExRTlBRkU4RjRGNUQ5QkI1RkNEIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjNBOTUzMUZGOTJBQzExRTlBRkU4RjRGNUQ5QkI1RkNEIiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE3IChXaW5kb3dzKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkYyMzI2MjdGOTFGNDExRTk5RjM4QUM1Q0RFMEYzQkVGIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkYyMzI2MjgwOTFGNDExRTk5RjM4QUM1Q0RFMEYzQkVGIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+/+4ADkFkb2JlAGTAAAAAAf/bAIQABgQEBAUEBgUFBgkGBQYJCwgGBggLDAoKCwoKDBAMDAwMDAwQDA4PEA8ODBMTFBQTExwbGxscHx8fHx8fHx8fHwEHBwcNDA0YEBAYGhURFRofHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8f/8AAEQgAFwAYAwERAAIRAQMRAf/EAGEAAQEBAAAAAAAAAAAAAAAAAAUGBwEBAAAAAAAAAAAAAAAAAAAAABAAAQQBAwIFBQEAAAAAAAAAAgEDBAUGABESIRMxIhQVB0FR05QWVhEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A1rHcWwN3FZeQ5BVRpLgS7R6bOdYV91QanvpyLZCMuID9E0DUnCPiWNUncP1NUFUDPqSnK212ezx5I4hp0UVTw28dAVk2H4ZApa25paiPBle60ZR5LbKsPCD9rFAkVFQTHk24Qkipv166BrBbCDXYM7PnvhGhRZVq7IfcXiAANjIUiJV0EPHp7CDYNZTMgPt/GzcgpcbFiRVcgmqoQWpx0Hl2+XI/S7r2d+4g80URC8+QH2JGLQpEdwXmHrehcadBUIDAriGokJJ0VFRd0XQCYlk3tdG5CdprCYjU6xUpEVlt+OSHPfPyuI5su2+y/Zd00D/90X+cu/1B/JoAspyT3WsgwmqawhidtTGMiW02xHEWrSK71cVzbzIGwInUi2FOqpoP/9k=');
        background-repeat: no-repeat;
        display          : inline-block;
        padding-left     : 30px;
        line-height      : 23px;
        padding-right    : 15px;
    }

    .no-brb {
        border-bottom: 0 !important;
    }

    /*-------------------- table --------------- */

    section .pdf-table-title {
        font-size  : 18px;
        font-weight: bold;
    }

    section .pdf-table {
        width         : 100%;
        border-spacing: 0;
        border        : 1px solid #ccc;
    }

    .data-title {
        display       : block;
        padding-bottom: 5px;
        color: #000;
        font-size: inherit;
    }

    .data-value {
        display   : block;
        min-height: 16px;
    }

    section .pdf-table tr td {
        border-bottom: 1px solid #ccc;
    }

    section .pdf-table tr:last-child td {
        border-bottom: 0;
    }

    section .pdf-table tr td {
        padding     : 10px;
        border-right: 1px solid #ccc;
    }

    section .pdf-table tr td:last-child {
        border-right: 0;
    }

    section .pdf-table .for-grid {
        visibility: hidden;
        height    : 1px;
        border    : 0;
        overflow  : hidden;
    }

    section .pdf-table .for-grid td {
        visibility: hidden;
        height    : 0;
        border    : 0;
        padding   : 0;
        width     : 10%;
    }

    /* --- date table --- */
		.date-table {
			width: 180px;
			margin-top:15px;
			border: 1px solid #cccccc;
		}
		.date-table	td{
			padding: 3px;
			min-width: 16px;
			height: 40px;
			text-align: center;
			border-right: 1px solid #cccccc;
		}
		.date-table	td:last-child{
			border-right: 0;
		}
		.date-data {
			padding-left: 15px;
			padding-top: 20px;
		}
		.date-section h4 {
			margin-bottom: 10px;
		}
		.bottom-right {
			vertical-align: bottom;
			text-align:right;
		}
		.bottom-left {
			vertical-align: bottom;
			text-align:left;
		}
		.bottom-left .data-title {
			padding-bottom: 0;
			padding-top: 5px;
		}
		.pb-15 {
			padding-bottom : 15px !important;
		}
        .pb-10 {
			padding-bottom : 10px !important;
		}
}

    .pdf_title  {
        float: right;
        display: flex;
        justify-content: space-between;
        .user-select {
            height          : 45px;
            border-radius   : 6px;
            width: 220px;
            margin-right: 15px;

        }
    }
