// Scheduler
// --------------------------------------------------
.card #scheduler_here {
    .dhx_cal_tab {
        width           : 80px;
        height          : 42px;
        margin-right    : 10px;
        line-height     : 42px;
        border-radius   : 24px;
        background-color: #ebf2fd;
        font-family     : Poppins;
        font-size       : 14px;
        letter-spacing  : 0.4px;
        color           : $cerulean-blue;
        border          : 0;

        &.active {
            color:$white;
            background-image: linear-gradient(96deg, $cerulean-blue-two, $water-blue);
        }
    }

    .dhx_cal_date {
        font-family   : Poppins;
        font-weight   : 600;
        color         : #495b76;
       // padding-left  : 100px;
    }

    .dhx_scale_bar {
        font-family: Poppins;
        font-weight: 600;
        color      : #495b76;
    }

    .dhx_cal_event_clear {
        font-family: Poppins;
        text-align : left;
        color      : $cerulean-blue;
    }

    .dhx_month_head {
        font-family: Poppins;
        text-align : center;
        color      : #495b76;
    }

    .dhx_cal_today_button {
        font-family   : Poppins;
        font-weight   : 500;
        text-align    : center;
        color         : #495b76;

        &:hover {
            background-color: #fff;
            color           : #055be8;
        }
    }

}