// Scheduler
// --------------------------------------------------
.card #scheduler_here {
    overflow: visible !important;
    .dhx_cal_tab {
        width           : 80px;
        height          : 32px;
        margin-right    : 10px;
        line-height     : 32px;
        border-radius   : 24px;
        background-color: #ebf2fd;
        font-family     : Poppins;
        font-size       : 14px;
        letter-spacing  : 0.4px;
        color           : $cerulean-blue;
        border          : 0;

        @include media-breakpoint-down(md) {   
            width           : 65px;
        }

        &.active {
            color:$white;
            background-image: linear-gradient(96deg, $cerulean-blue-two, $water-blue);
        }
    }

    .dhx_cal_date {
        font-family   : Poppins;
        font-weight   : 600;
        color         : #495b76;
        top: -30px;
        text-align: left;
       // padding-left  : 100px;
    }

    .dhx_scale_bar {
        font-family: Poppins;
        font-weight: 600;
        color      : #495b76;
    }

    .dhx_cal_event_clear {
        font-family: Poppins;
        text-align : left;
        color      : $cerulean-blue;
    }

    .dhx_cal_event_clear.dhx_cal_event_line_start.dhx_cal_event_line_end {
        border-radius: 14px;
        text-align: center;
        color: $white !important;
    }

    .dhx_month_head {
        font-family: Poppins;
        text-align : center;
        color      : #495b76;
    }

    .dhx_cal_today_button {
        font-family   : Poppins;
        font-weight   : 500;
        text-align    : center;
        color         : #495b76;

        &:hover {
            background-color: #fff;
            color           : #055be8;
        }
        top: -30px !important;
    }
    .dhx_cal_prev_button,
    .dhx_cal_next_button {
        top: -30px !important;
    }

}
.scheduler-filter {
    padding-bottom: 50px;
    .form-control {
        @include media-breakpoint-down(md) {
            margin-bottom: 10px;
        }
    }
}

//-----time-box-----

.time-box {
    padding: 20px 15px;
    border:1px solid #e1e7ff;
    background-color: #f9faff;
    border-radius: 10px;

    h3 {
        font-size: 16px;
        color: #495b76;
        font-weight: normal;
    }
    b {
        font-size: 16px;
        color: #495b76;
    }
}