// View company
// --------------------------------------------------

.data-title {
  font-size: 14px;
  line-height: 1.57;
  color: $bluey-grey;
    span {
    color: $cerulean-blue;
    }
}
.data-value {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.57;
    color: #495b76;
}