// Form
// --------------------------------------------------

.custom-form {

    .form-row>div,
    .row>div {
        margin-bottom: rem(20px);
    }

    label {
        font-size  : rem(14px);
        line-height: 1.57;
        color      : $bluey-grey;
    }

    .form-control,
    .custom-select {
        height          : 55px;
        border-radius   : 6px;
        background-color: #e0e7ff;

        &::placeholder {
            color: #b6b9bb;
        }
    }

    .dropdown-toggle {
        height          : 55px;
        border-color    : transparent;
        background-color: #e0e7ff;

        &:focus,
        &:hover {
            color           : $bluey-grey !important;
            background-color: #e0e7ff !important;
            box-shadow      : none !important;
            border-color    : #e0e7ff !important;
        }
    }

    .input-validation-error {
        border: 1px solid $danger !important;
    }

    .btn {
        margin-top: 15px;
    }

    .input-group-prepend .btn {
        margin-top: 0;
    }

    //--------.SumoSelect
    .SumoSelect {
        display: block;
        width  : 100%;
    }

    .SumoSelect>.CaptionCont>label>i {
        top: 12px;
    }

    .SelectBox {
        width           : 100%;
        display         : block;
        color           : #495057;
        line-height     : 44px;
        height          : 55px !important;
        border-radius   : 6px !important;
        background-color: #e0e7ff !important;

        &::placeholder {
            color: #b6b9bb;
        }
    }
    .SumoSelect.open > .optWrapper {
        top: 60px;
    }
}